<%= stylesheet_link_tag 'home_page' %>

<div class="loginPage">
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home_pages">
        <i class="fa fa-arrow-left leftIcon" aria-hidden="true"></i>
      </a>
      <h2 class="loginPageHeading">LOGIN</h2>
      <span>Log In</span>
    </div>
  </nav>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="homePageButtonBox">
      <div class="topThreeFields">
        <div class="field">
          <%= f.email_field :email, placeholder: "Email", class: "loginField", autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder: "Password", class: "loginField", autocomplete: "off" %>
        </div>
        
        <%= render "devise/shared/links", class:"forgotPassword" %>
      </div>
  
      <div class="actions">
        <%= f.submit "Log in", class: "homePageButtonBlue" %>
      </div>
    </div>
  <% end %>
  
</div>
