<%= form_with(model: classification) do |f| %>
  <% if classification.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(classification.errors.count, "error") %> prohibited this classification from being saved:</h2>

      <ul>
        <% classification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="homePageButtonBox">
    <div class="topThreeFields">
      <div class="field">
        <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "loginField", autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.text_field :icon, autofocus: true, placeholder: "Icon (Image Link)", class: "loginField", autocomplete: "off" %>
      </div>
    </div>
  </div>
  <%= f.submit "Create Classification", class: "homePageButtonBlue" %>
<% end %>
