<%= form_with(model: transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="homePageButtonBox">
  <div class="topThreeFields">
    <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "loginField", autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.number_field :amount, autofocus: true, placeholder: "Amount (in USD)", class: "loginField", autocomplete: "off" %>
    </div>

    <div class="form-group" style="margin-bottom: 20px;">
      <%= f.label "Select Categories: " %>
      <%= f.collection_select :classification_id, @classifications, :id, :name %>
    </div>
  </div>
</div>
  <div>
    <%= f.submit "Create Transaction", class: "homePageButtonBlue" %>
  </div>
<% end %>
